@import "includes/vars";
@import "includes/global";
@import "includes/mixins";

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 2px 5px 15px 0 rgba(black, 0.2);
  border-radius: 25px;
  overflow: hidden;
  width: 740px;
  @media screen and (max-width: $sm) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    border-radius: 0;
  }
  &-left {
    padding: 0 60px;
    background: linear-gradient(
      to top,
      $gradient-blue-start,
      $gradient-blue-end
    );
    border-radius: 25px;
    text-align: center;
    @media screen and (max-width: $sm) {
      border-radius: 0 0 25px 25px;
    }
    .title {
      color: rgba($white, 0.4);
      padding: 30px 0;
      @media screen and (max-width: $sm) {
        font-size: 20px;
        padding: 20px 0;
      }
    }
    .circle {
      width: 200px;
      aspect-ratio: 1 / 1;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: $sm) {
        width: 140px;
      }
      &-content {
      }
      background: linear-gradient(
        to bottom,
        $gradient-violet-start,
        $gradient-violet-end
      );
      border-radius: 50%;
      .score {
        color: $white;
        font-size: 70px;
        line-height: 70px;
        @media screen and (max-width: $sm) {
          font-size: 60px;
        }
      }
      .sub-score {
        color: rgba($white, 0.4);
        @media screen and (max-width: $sm) {
          font-size: 16px;
        }
      }
    }
    .footer {
      padding: 30px 0;
      @media screen and (max-width: $sm) {
        padding: 20px 0;
      }
      &-title {
        color: $white;
        padding-bottom: 20px;
        font-size: 2rem;
        @media screen and (max-width: $sm) {
          font-size: 22px;
        }
      }
      &-text {
        color: rgba($white, 0.4);
        @media screen and (max-width: $sm) {
          font-size: 16px;
        }
      }
    }
  }
  &-right {
    padding: 0 40px;
    > .title {
      color: $gray-blue;
      padding: 30px 0;
    }
    .items {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        font-weight: 700;
        transition: all 0.3s ease-in;
        transform: translateX(50px);
        opacity: 0;
        &.visible {
          opacity: 1;
          transform: translateX(0);
        }
        > .content {
          color: rgba($gray-blue, 0.4);
          span {
            color: $gray-blue;
          }
        }
        img {
          vertical-align: sub;
        }
        &-reaction {
          background-color: rgba($light-red, 0.1);
          color: $light-red;
        }
        &-memory {
          background-color: rgba($orange, 0.1);
          color: $orange;
        }
        &-verbal {
          background-color: rgba($green-teal, 0.1);
          color: $green-teal;
        }
        &-visual {
          background-color: rgba($blue, 0.1);
          color: $blue;
        }
      }
    }
    button {
      display: block;
      width: 100%;
      margin-top: 30px;
      border: none;
      color: $white;
      border-radius: 30px;
      padding: 15px;
      font-size: 1.2rem;
      background-color: $gray-blue;
      transition: all 0.3s linear;
      cursor: pointer;
      @media screen and (max-width: $sm) {
        margin-bottom: 30px;
      }
      &:hover {
        background-color: $gradient-violet-start;
      }
    }
  }
}
