$light-red: hsl(0, 100%, 67%);
$orange: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);

$gradient-blue-end: hsl(252, 100%, 67%);
$gradient-blue-start: hsl(241, 81%, 54%);

$gradient-violet-end: hsla(241, 72%, 46%, 0);
$gradient-violet-start: hsla(256, 72%, 46%, 1);

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-levender: hsl(221, 100%, 96%);
$gray-blue: hsl(224, 30%, 27%);
